:root { 
  --black: #000000;
  --eerie-black: #1e1e1e;
  --snuff: #e4d8e6;
 
  --font-size-m: 14px;
 
  --font-family-epilogue: "Epilogue", Helvetica;
}
.epilogue-normal-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
